{% extends "bedrijf/base.html" %}

{% block title %}Mijn Kudde.be - Lijst van alle schapen{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-9"><h1>Alle schapen</h1></div>
<div class="col-sm3"></div>
</div>
{% if schapen_overzicht %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Intern nummer</th>
        <th>Geboortedatum</th>
        <th>Geslacht</th>
      </tr>
    </thead>
    <tbody>
    {% for beest in schapen_overzicht %}
      <tr>
        <td>{{beest.intern_nummer}}</td>
        <td>{{beest.geboortedatum}}</td>
        <td>{{beest.geslacht}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
  <p>Geen schapen te vinden!!</p>
{% endif %}



{% endblock %}
